.beige {
  background: #f8ffe5,
}

.green {
  background: #06d6a0,
}

.teal {
  background: #1b9aaa,
}

.rose {
  background: #ef476f,
}

.honey {
  background: #ffc43d,
}

.centerScreen {
  text-align: center;
  margin: auto;
  /* border: 3px solid green; */
  padding: 10px;
  width: 75%;

  padding-top: 10%;
}